@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'abstracts/fonts'; 

@import 'components/global';

@import 'components/popup';

.form {
    background: var(--clr-neutral-400);
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    position: relative;
    &-back {
        font-weight: 700;
        font-size: clamp(18px, 3vw, 24px);
        line-height: 1em;
        color: var(--clr-neutral-200);
        display: flex;
        align-items: center;
        position: absolute;
        left: 130px;
        top: 65px;
        @media (max-width: 1024px) {
            left: 20px;
            top: 20px;
        }
    }
    &-logo {
        margin: 0 auto 10px;
    }
    &-title {
        margin: 0;
        font-weight: 900;
        font-size: 32px;
        line-height: 1.2em;
        color: var(--clr-neutral-100);
        @media (max-width: 767px) {
            font-size: clamp(22px, 4vw, 32px);
        }
    }
    &-subtitle {
        margin-top: .9em;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.2em;
        color: var(--clr-neutral-100);
        @media (max-width: 767px) {
            font-size: clamp(14px, 2vw, 18px);
        }
    }
    &-title, &-subtitle {
        text-align: center;
    }
    &-block {
        cursor: auto;
        background: var(--clr-neutral-200);
        border-radius: 20px;
        max-width: 980px;
        padding: 50px 40px 45px;
        position: relative;
        max-height: 80vh;
        overflow: auto;
        &--wide {
            padding-left: 55px;
            padding-right: 55px;
            min-width: 28.5vw;
        }
        @media (max-width: 1023px) {
            max-width: 82vw;
        }
        @media (max-width: 767px) {
            padding: 30px 20px;
        }
    }
    &-wrap {
        position: relative;
    }
    &-text {
        margin-top: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2em;
        text-align: center;
        color: var(--clr-neutral-100);
        a {
            color: var(--clr-accent-200);
            text-underline-offset: 2px;
        }
        &--purple {
            a {
                color: var(--clr-accent-100);
            }
        }
    }
    &-btn {
        margin: 0 auto;
        display: block;
        max-width: fit-content;
        @media (min-width: 1024px) {
            min-width: 21em;
        }
    }
    &-options {
        margin-top: 40px;
        hr {
            margin: clamp(10px, 3vw, 25px) 0;
            border-color: rgba(208, 208, 251, 0.5);
        }
    }
    &-google {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: clamp(14px, 2vw, 18px);
        line-height: 1em;
        color: var(--clr-neutral-100);
        text-decoration: none;
        img {
            margin-right: .5em;
        }
    }
    .btn {
        @media (max-width: 575px) {
            padding-top: .87em;
            padding-bottom: .87em;
        }
    }
}