.ability {
    background: linear-gradient(to bottom, var(--clr-neutral-300) 81%, var(--clr-neutral-200) 19%);
    padding: 80px 0;
    @media (min-width: 768px) {
        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 25px;
        }
        &-subtitle {
            text-align: right;
        }
    }
    &-row {
        margin-top: 57px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-collage {
        position: relative;
        margin-right: 50px;
        &-top, &-bottom {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        &-top {
            width: 155%;
            top: 60px;
        }
        &-bottom {
            width: 145%;
            bottom: 36px;
        }
    }
    &-device {
        background-image: url('../img/overview-device.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 10px;
        max-width: 250px;
        width: fit-content;
        display: grid;
        place-content: center;
        box-shadow: 0px 11.2462px 15.7446px rgba(116, 118, 235, 0.3);
        border-radius: 22px;
        border: 14px solid var(--clr-neutral-200);
        border-left-width: 18px;
        border-right-width: 18px;
        img {
            border-radius: 10px;
        }
    }
}

@media (max-width: 1439px) {
    .ability {
        &-collage {
            margin-right: 60px;
            &-main {
                max-width: 450px;
            }
        }
        &-collage {
            &-top, &-bottom {
                width: 140%;
            }
        }
    }
}

@media (max-width: 1289px) {
    .ability {
        &-device {
            max-width: 220px;
            border-width: 14px;
        }
    }
}

@media (max-width: 1023px) {
    .ability {
        &-img {
            max-width: clamp(240px,31vw,310px);
        }
        &-collage {
            &-main {
                max-width: clamp(400px, 45vw, 450px);
            }
            &-top, &-bottom {
                width: 136%;
            }
        }
        &-device {
            max-width: clamp(145px, 22vw, 220px);
            border-width: 6px;
        }
    }
}
@media (max-width: 767px) {
    .ability {
        padding: 40px 0;
        background: var(--clr-neutral-300);
        &-title {
            font-size: 26px;
        }
        &-subtitle {
            margin-top: 40px;
            text-align: center;
        }
        &-row {
            margin-top: 40px;
            position: relative;
            flex-direction: column;
            z-index: 1;
            // padding-top: 100px;
        }
        &-collage {
            margin: 0;
            &-top, &-bottom {
                width: 100%;
                // position: absolute;
                position: relative;
            }
        }
        &-img {
            // max-width: 400px;
            // position: absolute;
            // top: -50px;
            position: relative;
            inset: unset;
            align-self: flex-start;
            &::after {
                content: '';
                width: 30px;
                height: 125px;
                background-image: url('../img/ability-arrow.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
                display: block;
                position: absolute;
                right: -30px;
                bottom: 30px;
            }
        }
        &-collage {
            max-height: fit-content;
            &::after {
                content: '';
                display: block;
                width: 100vw;
                height: calc(100% + 40px);
                background: var(--clr-neutral-200);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }
        &-device {
            padding: 6px;
            border-width: 9px 13px;
            &--02 {
                margin-top: 28px;
            }
            &--04 {
                margin-top: 45px;
            }
        }
    }
}

@media (max-width: 575px) {
    .ability {
        &-collage {
            &-top, &-bottom {
                position: absolute;
            }
            &-main {
                padding: 40px 30px;
            }
            &-top {
                top: 102px;
            }
            &-bottom {
                bottom: -36px;
            }
        }
    }
}