.container {
    max-width: 1180px;
    margin: 0 auto;
    @media (max-width: 1260px) {
        padding: 0 40px;
    }
    @media (max-width: 1023px) {
        padding: 0 10px;
    }
}

*, *::after, *::before {
    font-family: var(--ff-100);
}

.title {
    font-family: var(--clr-neutral-100);
    font-style: normal;
    font-weight: 900;
    color: #5B5B5B;
    font-size: clamp(32px, 4vw, 40px);
    line-height: 90.65%;
    span {
        font-family: var(--ff-200);
    }
    &--center {
        text-align: center;
    }
    &--right {
        text-align: right;
    }
}

.subtitle {
    font-weight: 700;
    font-size: clamp(18px, 2vw, 24px);
    line-height: 90.65%;
    color: var(--clr-accent-100);
    &--center {
        text-align: center;
    }
}

.line {
    position: relative;
    padding-left: 1.9em;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: .6em;
        display: block;
        width: 1.36em;
        height: 1px;
        background-color: currentColor;
    }
}

.ul-styled {
    ul {
        list-style-type: none;
        padding: 0;
        li {
            position: relative;
            padding-left: 2.187em;
            &:not(:first-child) {
                margin-top: .9em;
            }
            &::before {
                content: '';
                --size: 1.562em;
                width: var(--size);
                height: var(--size);
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                left: 0;
                top: -.25em;
            }
            &:nth-child(odd) {
                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.169998'%3E%3Cpath d='M22.4781 19.9779C26.6278 14.5038 25.5613 6.65116 19.979 2.52215C14.5049 -1.62972 6.65019 -0.55901 2.52119 5.02118C-1.62861 10.4933 -0.559973 18.35 5.02229 22.479C10.6025 26.6059 18.3283 25.4521 22.4781 19.9779Z' fill='%2336E19F'/%3E%3C/g%3E%3Cg opacity='0.490005'%3E%3Cpath d='M19.4625 17.4563C22.1112 13.9593 21.4293 8.94672 17.8679 6.31256C14.375 3.66176 9.36035 4.34369 6.72411 7.9072C4.07539 11.4021 4.75732 16.4168 8.32082 19.0509C11.8843 21.683 16.8138 20.9491 19.4625 17.4563Z' fill='%2336E19F'/%3E%3C/g%3E%3Cpath d='M17.008 15.6068C18.665 13.4467 18.2076 10.3821 16.0474 8.72513C13.8873 7.07228 10.8228 7.52759 9.16575 9.68773C7.51082 11.8479 7.96821 14.9124 10.1284 16.5673C12.3155 18.1828 15.4216 17.7524 17.008 15.6068Z' fill='%2336E19F'/%3E%3C/svg%3E%0A");
                }
            }
            &:nth-child(even) {
                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.169998'%3E%3Cpath d='M22.4781 19.9779C26.6278 14.5038 25.5613 6.65116 19.979 2.52215C14.5049 -1.62972 6.65019 -0.55901 2.52119 5.02118C-1.62861 10.4933 -0.559973 18.35 5.02229 22.479C10.6025 26.6059 18.3283 25.4521 22.4781 19.9779Z' fill='%239597F2'/%3E%3C/g%3E%3Cg opacity='0.490005'%3E%3Cpath d='M19.4625 17.4564C22.1112 13.9594 21.4293 8.94685 17.8679 6.31268C14.375 3.66188 9.36035 4.34381 6.72411 7.90732C4.07539 11.4022 4.75732 16.4169 8.32082 19.0511C11.8843 21.6831 16.8138 20.9492 19.4625 17.4564Z' fill='%239597F2'/%3E%3C/g%3E%3Cpath d='M17.008 15.6068C18.665 13.4467 18.2076 10.3821 16.0474 8.72513C13.8873 7.07228 10.8228 7.52759 9.16575 9.68773C7.51082 11.8479 7.96821 14.9124 10.1284 16.5673C12.3155 18.1828 15.4216 17.7524 17.008 15.6068Z' fill='%239597F2'/%3E%3C/svg%3E%0A");
                }
            }
        }
    }
    &--white {
        ul {
            li {
                &:nth-child(even) {
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.169998'%3E%3Cpath d='M17.9824 16.0089C21.3023 11.6223 20.449 5.32981 15.9832 2.02113C11.6039 -1.30589 5.32016 -0.447895 2.01695 4.02367C-1.30289 8.4086 -0.447979 14.7044 4.01783 18.0131C8.48199 21.3201 14.6626 20.3955 17.9824 16.0089Z' fill='white'/%3E%3C/g%3E%3Cg opacity='0.490005'%3E%3Cpath d='M15.5702 13.9885C17.6892 11.1863 17.1436 7.16957 14.2945 5.05874C11.5002 2.93458 7.48849 3.48103 5.37949 6.33657C3.26052 9.13712 3.80606 13.1555 6.65687 15.2664C9.50767 17.3755 13.4512 16.7874 15.5702 13.9885Z' fill='white'/%3E%3C/g%3E%3Cpath d='M13.6064 12.5061C14.932 10.7751 14.5661 8.31944 12.838 6.99163C11.1098 5.66716 8.65822 6.03201 7.33261 7.76299C6.00867 9.49397 6.37458 11.9497 8.10269 13.2758C9.85243 14.5703 12.3373 14.2254 13.6064 12.5061Z' fill='white'/%3E%3C/svg%3E%0A");
                    }
                }
            }
        }
    }
}

.btn {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(14px, 1.6vw, 16px);
    line-height: 1.2em;
    color: var(--clr-neutral-200);
    background: var(--clr-accent-100);
    box-shadow: 0px 10px 14px rgba(120, 122, 242, 0.3);
    border-radius: 5px;
    padding: 1.562em 2.25em;
    min-width: 16.87em;
    text-align: center;
    transition: all .3s;
    &:hover {
        box-shadow: 0px 5px 10px rgba(120, 122, 242, 0.65);
    }
    &--light {
        background: var(--clr-neutral-200);
        border: 1px solid var(--clr-neutral-100);
        color: var(--clr-neutral-100);
        box-shadow: none;
    }
    &--light-200 {
        border: 0;
        box-shadow: 0px 10px 14px rgba(208, 208, 251, 0.3);
    }
}