.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    // background-color: var(--clr-neutral-200);
    @media (max-width: 575px) {
        padding-top: 20px;
    }
    @media (min-width: 1024px) {
        padding-top: 10px;
    }
    &-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-logo {
        max-width: 165px;
        @media (max-width: 575px) {
            max-width: 105px;
        }
    }
    &-nav {
        &-list {
            list-style-type: none;
            padding: 0;
            display: flex;
            column-gap: clamp(15px, 3vw, 30px);
        }
        &-item {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.2em;
            color: var(--clr-neutral-100);
            transition: all .3s;
            &:hover {
                color: var(--clr-accent-100);
            }
            a {
                font: inherit;
                color: inherit;
            }
        }
    }
    &-hamburger {
        flex-shrink: 0;
        appearance: none;
        border: 0;
        outline: 0;
        background-color: transparent;
        max-width: 28px;
        padding: 0;
        transform: rotate(360deg);
        transition: all .5s;
        position: relative;
        z-index: 1001;
        @media (min-width: 1024px) {
            display: none;
        }
        .close {
            display: none;
        }
        &--active {
            transform: rotate(0);
            .close {
                display: block;
            }
            .open {
                display: none;
            }
        }
        svg {
            pointer-events: none;
        }
    }
    &-side {
        display: flex;
        align-items: center;
        column-gap: 15px;
        @media (min-width: 1024px) {
            display: contents;
        }
    }
    &-btn {
        display: inline-block;
        font-family: var(--ff-100);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2em;
        color: var(--clr-neutral-200);
        border: 2px solid var(--clr-neutral-200);
        border-radius: 5px;
        padding: 0.625em 2.625em;
        transition: all .3s;
        position: relative;
        z-index: 1001;
        @media (max-width: 767px) {
            font-size: 14px;
        }
        @media (max-width: 575px) {
            padding: 0.625em 1.4em;
            color: var(--clr-neutral-100);
            text-decoration: underline;
            text-underline-offset: 2px;
        }
    }
}

@media (max-width: 1023px) {
    .header {
        &-nav {
            position: absolute;
            right: 0;
            top: 0;
            min-width: 240px;
            background-color: var(--clr-neutral-200);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 100px 30px;
            box-shadow: 0px -10px 14px rgba(208, 208, 251, 0.2), 0px 10px 14px rgba(208, 208, 251, 0.3);
            border-radius: 15px 0px 15px 15px;  
            transition: all .5s ease;
            transform: scale(.8);
            transform-origin: right top;
            opacity: 0;
            visibility: hidden;
            &--active {
                transform: scale(1);
                opacity: 1;
                visibility: visible;
            }
            &-list {
                flex-direction: column;
                row-gap: 40px;
            }
            &-item {
                color: var(--clr-neutral-100);
                font-size: 14px;
            }
        }
    }
}