.plan-info {
    padding: 80px 0;
    --first-cell-pl: clamp(20px, 6vw, 100px);
    --first-cell-mxw: 250px;
    --check-size: 3.25em;
    &-table {
        margin-top: 80px;
        border-collapse: collapse;
        width: 100%;
    }
    &-heading {
        font-weight: 700;
        font-size: clamp(14px, 2vw, 20px);
        line-height: 90.65%;
        color: var(--clr-accent-100);
        text-align: center;
        padding: 25px;
        &:first-child {
            text-align: left;
            padding-left: var(--first-cell-pl);
            max-width: var(--first-cell-mxw);
        }
    }
    &-cell {
        font-weight: 700;
        font-size: clamp(14px, 1.6vw, 16px);
        line-height: 1.2em;
        color: var(--clr-neutral-100);
        padding: 10px 0;
        &:first-child {
            padding-left: var(--first-cell-pl);
            max-width: var(--first-cell-mxw);
        }
        &--available, &--unavailable {
            position: relative;
            &::before {
                content: '';
                display: inline-block;
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                width: var(--check-size);
                height: var(--check-size);
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &--available {
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='52' height='51' viewBox='0 0 52 51' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.169998'%3E%3Cpath d='M46 41.0002C54.2996 30.0337 52.1645 14.2719 41 6.00021C30.0517 -2.31733 14.258 -0.178696 5.99997 11.0002C-2.29962 21.9625 -0.164563 37.7285 11 46.0002C22.1603 54.2678 37.7004 51.9667 46 41.0002Z' fill='%2336E19F'/%3E%3C/g%3E%3Cg opacity='0.490005'%3E%3Cpath d='M42.9999 39C49.9715 29.7809 48.3738 15.9446 38.9999 9.00005C29.8066 2.01169 15.9387 3.6055 8.99991 13C2.02829 22.2137 3.62051 36.0555 12.9999 43C22.3793 49.9391 36.0283 48.2082 42.9999 39Z' fill='%2336E19F'/%3E%3C/g%3E%3Cpath d='M37.0001 34C41.883 27.6194 40.3657 18.8944 34.0001 14C27.6345 9.11785 18.883 10.6194 14.0001 17C9.12324 23.3805 10.6345 32.1117 17.0001 37C23.4453 41.7716 32.3254 40.3376 37.0001 34Z' fill='%2336E19F'/%3E%3Cg clip-path='url(%23clip0_80_4904)'%3E%3Cpath d='M23 32.0001C22.8547 31.9997 23.1331 32.0596 23 32.0001C22.8669 31.9407 22.0988 32.1087 22 32.0001L17 26.0001C16.8075 25.7912 16.9911 25.2866 17 25.0001C17.0089 24.7137 16.7948 25.1962 17 25.0001C17.2052 24.804 17.7188 23.991 18 24.0001C18.2812 24.0093 18.8075 24.7912 19 25.0001L23 29.0001L32 19.0001C32.0905 18.8854 31.8723 19.069 32 19.0001C32.1277 18.9313 32.856 19.0118 33 19.0001C33.144 18.9885 32.8633 18.9527 33 19.0001C33.1367 19.0476 33.8929 18.9014 34 19.0001C34.1071 19.0989 33.9401 19.8663 34 20.0001C34.0599 20.134 33.9971 19.853 34 20.0001C34.0029 20.1472 34.0546 19.8639 34 20.0001C33.9454 20.1364 34.1031 20.8971 34 21.0001L24 32.0001C23.9021 32.1106 24.1331 31.9388 24 32.0001C23.8669 32.0614 23.1461 31.9983 23 32.0001Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_80_4904'%3E%3Crect width='26' height='26' fill='white' transform='translate(13 13)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            }
        }
        &--unavailable {
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='52' height='51' viewBox='0 0 52 51' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.169998'%3E%3Cpath d='M46 41.0002C54.2996 30.0337 52.1645 14.2719 41 6.00021C30.0517 -2.31733 14.258 -0.178696 5.99997 11.0002C-2.29962 21.9625 -0.164563 37.7285 11 46.0002C22.1603 54.2678 37.7004 51.9667 46 41.0002Z' fill='%23787AF2'/%3E%3C/g%3E%3Cg opacity='0.490005'%3E%3Cpath d='M42.9999 39C49.9715 29.7809 48.3738 15.9446 38.9999 9.00005C29.8066 2.01169 15.9387 3.6055 8.99991 13C2.02829 22.2137 3.62051 36.0555 12.9999 43C22.3793 49.9391 36.0283 48.2082 42.9999 39Z' fill='%23787AF2'/%3E%3C/g%3E%3Cpath d='M37.0001 34.0005C41.883 27.6199 40.3657 18.8949 34.0001 14.0005C27.6345 9.11834 18.883 10.6199 14.0001 17.0005C9.12324 23.381 10.6345 32.1122 17.0001 37.0005C23.4453 41.7721 32.3254 40.338 37.0001 34.0005Z' fill='%23787AF2'/%3E%3Cg clip-path='url(%23clip0_80_4980)'%3E%3Cpath d='M27 24.9998L32 20.9998C32.2038 20.7959 32 20.288 32 19.9998C32 19.7115 32.2038 19.2036 32 18.9998C31.7962 18.7959 31.2882 18.9998 31 18.9998C30.7118 18.9998 30.2038 18.7959 30 18.9998L26 23.9998L21 18.9998C20.7962 18.7959 20.2882 18.9998 20 18.9998C19.7118 18.9998 19.2038 18.7959 19 18.9998C18.7962 19.2036 19 19.7115 19 19.9998C19 20.288 18.7962 20.7959 19 20.9998L24 24.9998L19 29.9998C18.8986 30.1004 19.0549 29.8679 19 29.9998C18.9451 30.1317 19 30.8569 19 30.9998C19 31.1427 18.9451 30.8679 19 30.9998C19.0549 31.1317 18.8986 31.8991 19 31.9998C19.1006 32.1012 19.8681 31.9448 20 31.9998C20.1319 32.0547 19.8571 31.9998 20 31.9998C20.1429 31.9998 20.8681 32.0547 21 31.9998C21.1319 31.9448 20.8994 32.1012 21 31.9998L26 26.9998L30 31.9998C30.1006 32.1012 29.8681 31.9448 30 31.9998C30.1319 32.0547 30.8571 31.9998 31 31.9998C31.1429 31.9998 30.8681 32.0547 31 31.9998C31.1319 31.9448 31.8994 32.1012 32 31.9998C32.1014 31.8991 31.9451 31.1317 32 30.9998C32.0549 30.8679 32 31.1427 32 30.9998C32 30.8569 32.0549 30.1317 32 29.9998C31.9451 29.8679 32.1014 30.1004 32 29.9998L27 24.9998Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_80_4980'%3E%3Crect width='26' height='26' fill='white' transform='translate(13 13)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            }
        }
    }
    &-row {
        border-bottom: 1px solid #D0D0FB;
    }
    &-btn {
        margin-top: 45px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 729px) {
    .plan-info {
        &-table {
            margin-top: 40px;
        }
        &-heading {
            &:first-child {
                display: none;
            }
        }
        &-row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            position: relative;
            border-bottom: 0;
            &:not(:first-child) {
                margin-top: 35px;
            }
            &::before {
                position: absolute;
                content: '';
                width: 1px;
                height: calc(var(--check-size) + 12px);
                background-color: #D0D0FB;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 1px;
                background-color: #D0D0FB;
                bottom: calc(var(--check-size) + 12px);
                left: 0;
            }
            &--head {
                margin: 0;
                &::before, &::after {
                    all: unset;
                }
            }
        }
        &-cell {
            text-align: center;
            &:first-child {
                padding: 15px 0;
                grid-column: 1/-1;
            }
        }
    }  
}