.hero {
    padding: 100px 0 120px; 
    overflow: hidden;
    @media (min-width: 576px) {
        background: url('../img/hero-gradient-bg.svg') right top / 62% no-repeat; 
    }
    @media (min-width: 1640px) {
        background-size: contain; 
    }
    min-height: 580px;
    &-wrap {
        padding: 100px 0;
        position: relative;
    }
    &-img {
        max-width: fit-content;
        position: relative;
        @media (min-width: 1024px) {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &-main {
            --size: clamp(250px, 37vw, 523px);
            width: var(--size);
            height: var(--size);
            background-image: url('../img/hero-admo-bg.svg');
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: clamp(410px, 36vw, 476px);
                @media (max-width: 1023px) {
                    max-width: 90%;
                }
            }
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -12%;
            left: -12%;
            --size: clamp(320px, 45vw, 648px); //here
            width: var(--size);
            height: var(--size);
            background-image: url('../img/hero-admo-bg-outer.svg');
            background-repeat: no-repeat;
            background-size: contain;
            @media (max-width: 575px) {
                background-image: url('../img/hero-bg-mob.png');
                // --size: 520px;
                // top: -53%;
                // left: -52%;
                --size: 560px;
                top: -64%;
                left: -57%;
            }
        }
    }
    &-title {
        max-width: 520px;
        font-size: clamp(32px, 4vw, 48px);
        line-height: 90.65%;
        @media (max-width: 575px) {
            justify-self: flex-start;
        }
    }
    &-subtitle {
        max-width: 520px;
        margin-top: 20px;
        font-weight: 700;
        font-size: clamp(16px, 1.8vw, 22px);
        line-height: 1.25em;
        color: var(--clr-accent-100);
        @media (max-width: 575px) {
            justify-self: flex-start;
        }
    }
    &-text {
        margin-top: 62px;
        font-weight: 500;
        font-size: clamp(14px, 1.6vw, 16px);
        line-height: 1.2em;
        color: var(--clr-neutral-100);
    }
    &-btn {
        margin-top: 60px;
        @media (max-width: 575px) {
            justify-self: flex-start;
        }
    }
}

@media (max-width: 1023px) {
    .hero {
        padding: 50px 0;
        background-size: 80%;
        &-wrap {
            padding: 70px 0;
            display: grid;
            align-items: center;
            justify-items: center;
        }
        &-img {
            margin-top: 50px;
        }
    }
}

@media (max-width: 575px) {
    .hero {
        &-btn {
            margin: 20px auto 0;
            grid-row: 3;
        }
    }
}