.purpose {
    padding: 60px 0 20px;
    // background-image: url('../img/purpose-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    &-bg {
        position: absolute;
        bottom: 60px;
        left: 0;
        z-index: -1;
        opacity: .9;
    }
    &-subtitle {
        margin-top: 30px;
        font-weight: 700;
        font-size: clamp(16px, 2vw, 22px);
        line-height: 1.22em;
        color: var(--clr-accent-200);
        max-width: 500px;
    }
    &-wrap {
        min-height: 530px;
        margin-top: 25px;
        position: relative;
        z-index: 1;
    }
    &-circle {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        width: var(--circle-size, 100px);
        height: var(--circle-size, 100px);
        font-weight: 750;
        font-size: 16px;
        line-height: 90.65%;
        text-align: center;
        color: var(--clr-neutral-200);
        display: grid;
        place-content: center;
        position: absolute;
        &--01 {
            top: 0;
            left: 2%;
            --circle-size: 135px;
            background-image: url("data:image/svg+xml,%3Csvg width='136' height='135' viewBox='0 0 136 135' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.169998'%3E%3Cpath d='M121.416 107.925C143.832 78.3559 138.071 35.9278 107.917 13.6356C78.3591 -8.80264 35.9309 -3.03024 13.6275 27.1344C-8.79949 56.6926 -3.0271 99.132 27.1263 121.413C57.2798 143.728 99.0004 137.484 121.416 107.925Z' fill='%239597F2'/%3E%3C/g%3E%3Cg opacity='0.490005'%3E%3Cpath d='M113.376 101.723C132.399 76.6576 127.505 40.6702 101.932 21.7813C76.8811 2.75811 40.8937 7.637 21.9749 33.2101C2.98154 58.276 7.86044 94.2634 33.4336 113.182C58.9918 132.086 94.3824 126.804 113.376 101.723Z' fill='%239597F2'/%3E%3C/g%3E%3Cpath d='M102.047 93.7159C116.633 74.6366 112.601 47.5693 93.563 32.9522C74.5246 18.3351 47.5153 22.3567 32.9479 41.436C18.3439 60.5337 22.3568 87.5826 41.3952 102.218C60.6901 116.468 88.0659 112.685 102.047 93.7159Z' fill='%239597F2'/%3E%3C/svg%3E%0A");
        }
        &--02 {
            top: 260px;
            left: 11%;
            --circle-size: 150px;
            background-image: url("data:image/svg+xml,%3Csvg width='152' height='151' viewBox='0 0 152 151' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.169998'%3E%3Cpath d='M135.776 120.69C160.843 87.623 154.4 40.1769 120.68 15.2482C87.6264 -9.84372 40.1803 -3.38863 15.2391 30.3436C-9.84031 63.3976 -3.38523 110.856 30.3344 135.772C64.054 160.726 110.709 153.744 135.776 120.69Z' fill='%23787AF2'/%3E%3C/g%3E%3Cg opacity='0.490005'%3E%3Cpath d='M126.784 113.754C148.057 85.7239 142.585 45.4803 113.987 24.3574C85.9735 3.08437 45.7299 8.54027 24.5737 37.1379C3.334 65.1683 8.78992 105.412 37.3876 126.568C65.9685 147.708 105.545 141.801 126.784 113.754Z' fill='%23787AF2'/%3E%3C/g%3E%3Cpath d='M114.116 104.799C130.426 83.4637 125.918 53.1952 104.628 36.8493C83.3384 20.5035 53.1347 25.0007 36.8445 46.3365C20.5132 67.6928 25.0007 97.9408 46.2908 114.307C67.8677 130.242 98.4811 126.012 114.116 104.799Z' fill='%23787AF2'/%3E%3C/svg%3E%0A");
        }
        &--03 {
            top: 82px;
            left: 24%;
            --circle-size: 160px;
            background-image: url("data:image/svg+xml,%3Csvg width='162' height='162' viewBox='0 0 162 162' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.169998'%3E%3Cpath d='M145.657 129.473C172.549 94 165.637 43.1008 129.464 16.3579C94.0039 -10.5602 43.1047 -3.63535 16.3483 32.5518C-10.5563 68.0115 -3.63147 118.924 32.5422 145.654C68.716 172.424 118.766 164.933 145.657 129.473Z' fill='%2336E19F'/%3E%3C/g%3E%3Cg opacity='0.490005'%3E%3Cpath d='M135.496 121.627C158.317 91.5567 152.447 48.3842 121.768 25.7241C91.7151 2.90279 48.5426 8.75577 25.8466 39.4347C3.06113 69.5051 8.91412 112.678 39.5931 135.374C70.2541 158.052 112.711 151.715 135.496 121.627Z' fill='%2336E19F'/%3E%3C/g%3E%3Cpath d='M123.243 113.06C141.071 89.7391 136.143 56.6549 112.873 38.7885C89.6023 20.9221 56.589 25.8376 38.7833 49.1582C20.9328 72.5012 25.8378 105.563 49.1084 123.452C72.6925 140.869 106.154 136.246 123.243 113.06Z' fill='%2336E19F'/%3E%3C/svg%3E%0A");
        }
        &--04 {
            top: 340px;
            left: 36%;
            --circle-size: 152px;
            background-image: url("data:image/svg+xml,%3Csvg width='152' height='151' viewBox='0 0 152 151' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.169998'%3E%3Cpath d='M135.839 120.745C160.917 87.6634 154.471 40.1954 120.736 15.2553C87.667 -9.84825 40.199 -3.39018 15.2462 30.3576C-9.84473 63.4269 -3.38667 110.907 30.3485 135.835C64.0837 160.8 110.76 153.815 135.839 120.745Z' fill='%239597F2'/%3E%3C/g%3E%3Cg opacity='0.490005'%3E%3Cpath d='M126.403 113.609C147.686 85.5656 142.211 45.3035 113.6 24.1708C85.5731 2.88797 45.3109 8.34641 24.1449 36.9572C2.8954 65.0005 8.35383 105.263 36.9647 126.429C65.5588 147.578 105.153 141.669 126.403 113.609Z' fill='%239597F2'/%3E%3C/g%3E%3Cpath d='M112.547 103.411C128.373 82.7095 123.999 53.3405 103.342 37.4805C82.6845 21.6205 53.3785 25.984 37.5723 46.6857C21.7264 67.4074 26.0806 96.7564 46.7379 112.636C67.6736 128.098 97.3773 123.993 112.547 103.411Z' fill='%239597F2'/%3E%3C/svg%3E%0A");
        }
        &--05 {
            top: 94px;
            left: 45%;
            --circle-size: 77px;
            background-image: url("data:image/svg+xml,%3Csvg width='77' height='77' viewBox='0 0 77 77' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.169998'%3E%3Cpath d='M69.2323 61.5397C82.0139 44.679 78.7288 20.4862 61.5351 7.77505C44.6809 -5.01935 20.488 -1.7279 7.77048 15.4722C-5.01752 32.3265 -1.72607 56.5257 15.4676 69.2304C32.6613 81.9544 56.4507 78.394 69.2323 61.5397Z' fill='%239597F2'/%3E%3C/g%3E%3Cg opacity='0.490005'%3E%3Cpath d='M64.4231 57.9026C75.2703 43.6099 72.4798 23.0896 57.8978 12.3191C43.6136 1.47191 23.0934 4.25388 12.3058 18.8358C1.47565 33.1286 4.25762 53.6488 18.8396 64.4364C33.4131 75.2155 53.593 72.2038 64.4231 57.9026Z' fill='%239597F2'/%3E%3C/g%3E%3Cpath d='M58.0202 52.5414C66.0729 42.0077 63.8473 27.0639 53.3362 18.9938C42.8251 10.9238 27.9133 13.1441 19.8707 23.6777C11.8078 34.2215 14.0233 49.1552 24.5344 57.2354C35.1871 65.1027 50.3012 63.0142 58.0202 52.5414Z' fill='%239597F2'/%3E%3C/svg%3E%0A");
        }
        &--06 {
            top: 47px;
            right: 26%;
            --circle-size: 140px;
            background-image: url("data:image/svg+xml,%3Csvg width='141' height='140' viewBox='0 0 141 140' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.169998'%3E%3Cpath d='M125.932 111.94C149.182 81.2703 143.206 37.2641 111.931 14.1427C81.2736 -9.13004 37.2673 -3.14294 14.1343 28.1437C-9.12677 58.8013 -3.13969 102.819 28.1353 125.929C59.4102 149.073 102.683 142.597 125.932 111.94Z' fill='%23787AF2'/%3E%3C/g%3E%3Cg opacity='0.490005'%3E%3Cpath d='M117.772 106.334C137.503 80.336 132.427 43.01 105.902 23.4186C79.9198 3.68782 42.5939 8.74818 22.9715 35.2725C3.27166 61.2706 8.33202 98.5966 34.8563 118.219C61.3652 137.826 98.0721 132.348 117.772 106.334Z' fill='%23787AF2'/%3E%3C/g%3E%3Cpath d='M103.475 95.4058C117.603 76.9254 113.698 50.7077 95.2576 36.5494C76.8167 22.3912 50.6553 26.2865 36.5451 44.7669C22.3994 63.2651 26.2864 89.465 44.7272 103.641C63.4165 117.444 89.933 113.78 103.475 95.4058Z' fill='%23787AF2'/%3E%3C/svg%3E%0A");
        }
        &--07 {
            top: 286px;
            right: 20%;
            --circle-size: 155px;
            background-image: url("data:image/svg+xml,%3Csvg width='155' height='154' viewBox='0 0 155 154' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.169998'%3E%3Cpath d='M138.513 123.318C164.085 89.5844 157.512 41.182 123.113 15.7508C89.3927 -9.84688 40.9903 -3.26167 15.5463 31.1504C-10.0385 64.8707 -3.45334 113.286 30.946 138.704C65.3453 164.161 112.941 157.038 138.513 123.318Z' fill='%2336E19F'/%3E%3C/g%3E%3Cg opacity='0.490005'%3E%3Cpath d='M129.598 117.383C151.3 88.7879 145.717 47.7331 116.543 26.1845C87.965 4.48262 46.9102 10.0485 25.3276 39.2226C3.65976 67.8179 9.22565 108.873 38.3997 130.455C67.5568 152.021 107.931 145.996 129.598 117.383Z' fill='%2336E19F'/%3E%3C/g%3E%3Cpath d='M118.072 107.182C135.115 84.8877 130.405 53.2599 108.159 36.18C85.9126 19.1002 54.3526 23.7993 37.3308 46.0932C20.2661 68.4086 24.9551 100.015 47.2013 117.116C69.7472 133.767 101.735 129.347 118.072 107.182Z' fill='%2336E19F'/%3E%3C/svg%3E%0A");
        }
    }
    &-gallery {
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-wrap: wrap;
        max-width: 670px;
    }
    &-img {
        flex: 1 auto;
        img {
            border-radius: 20px;
        }
        &--01 {
            margin-top: 32px;
            margin-left: 60px;
        }
        &--02 {
            @media (min-width: 1260px) {
                margin-right: 34px;
            }
        }
        &--03 {
            margin-top: 56px;
        }
        &--04 {
            margin-top: -34px;
        }
    }
}

@media (max-width: 1260px) {
    .purpose {
        &-img {
            &--01 {
                margin-left: 112px;
            }
        }
    }
}

@media (max-width: 1179px) {
    .purpose {
        &-img {
            &--02 {
                margin-right: 0;
            }
        }
        &-circle {
            &--03 {
                left: 18%;
            }
            &--04 {
                left: 27%;
            }
            &--05 {
                left: 39%;
            }
        }
    }
}

@media (max-width: 999px) {
    .purpose {
        background-image: url('../img/purpose-bg-mob.png');
        background-position: center bottom;
        &-circle {
            inset: unset;
            &--01 {
                --circle-size: 115px;
                top: 146px;
                right: 5px;
            }
            &--02 {
                --circle-size: 98px;
                left: 48px;
                top: 425px;
            }
            &--03 {
                --circle-size: 96px;
                right: 15px;
                bottom: 60px;
            }
            &--04 {
                --circle-size: 96px;
                top: 15px;
                right: 190px;
                z-index: 2;
            }
            &--05 {
                --circle-size: 60px;
                top: 280px;
                right: 100px;
                z-index: 2;
            }
            &--06 {
                --circle-size: 110px;
                bottom: -50px;
                left: 120px;
                z-index: 2;
            }
            &--07 {
                --circle-size: 100px;
                top: 295px;
                left: 84px;
                z-index: 2;
            }
        }
        &-gallery {
            position: static;
        }
        &-wrap {
            min-height: 666px;
        }
        &-img {
            margin: 0;
            position: absolute;
            &--01 {
                top: 290px;
                right: 0;
                max-width: 122px;
            }
            &--02 {
                max-width: 206px;
                bottom: 0;
                left: 20px;
            }
            &--03 {
                top: 0;
                right: 56px;
                grid-row: 1;
                max-width: 185px;
            }
            &--04 {
                top: 155px;
                left: 35px;
                grid-row: 2;
                max-width: 120px;
            }
        }
    }
}

@media (max-width: 575px) {
    .purpose {
        &-circle {
            font-size: 11px;
            padding: 0 12px;
        }
    }
}

/* 
@media (max-width: 980px) {
    .purpose {
        &-gallery {
            grid-column: 1 / -1;
            position: relative;
            inset: unset;
            margin: 0 auto;
            max-width: 500px;
            row-gap: 20px;
            justify-content: center;
        }
        &-img {
            margin: 0;
        }
        &-circle {
            --circle-size: 120px;
            position: relative;
            inset: unset;
        }
        &-wrap {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
            grid-auto-rows: auto;
            gap: clamp(20px, 5vw, 50px);
            justify-items: center;
        }
    }
}

@media (max-width: 575px) {
    .purpose {
        &-gallery {
            column-gap: 10px;
        }
        &-img {
            max-width: 40%;
            &--04 {
                margin-top: -120px;
            }
        }
    }
}

 */