:root {
    --clr-accent-100: #787AF2;
    --clr-accent-200: #36E19F;

    --clr-accent-100-dark: #7071DA;
    --clr-accent-100-light: #9597F2;

    --clr-neutral-100: #5B5B5B;
    --clr-neutral-200: #fff;
    --clr-neutral-300: #F4F4F4;
    --clr-neutral-400: #D0D0FB;

    --ff-100: 'Avenir Next Cyr', sans-serif;
    --ff-200: 'Quantum', sans-serif;
}