:root {
    --clr-accent-100: #787AF2;
    --clr-accent-200: #36E19F;

    --clr-neutral-100: #5B5B5B;
    --clr-neutral-200: #fff;
    --clr-neutral-300: #F4F4F4;

    --ff-100: 'Avenir Next Cyr', sans-serif;
    --ff-200: 'Quantum', sans-serif;
}